.blur  {
  filter: blur(10px);
  
}
#overlay {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -200px;
  background: rgba(255,255,255,.5);
  z-index: 999;
}

/* .container {
  margin: 10px;
  padding: 10px;
} */

/* .progress-bar-container {
  padding: 10px;
  margin: 5px;
} */

/* .header {
  border-color: aquamarine;
  border-radius: 10px;
  border: inset;
  padding: 10px;
  margin: 10px;
} */

.image-pad {
  padding: 10px;
  margin: 5px
}

.image {
  transition: all .2s ease-out;
}

.image:hover {
  transform: scale(1.5);
}

#close-lightbox {
  position: absolute;
  top: 100%;
  right: 0%;
}